#root {
  max-width: 85%;
  margin: 0 auto;
  padding: 0;
}
html {
  font-size: 20px;
}
fieldset {
  border: none;
}
legend {
  display: none;
}
ul, ol {
  list-style: none;
}
h3 {
  margin: 0;
}




/* common */
.note-container {
  max-width: 400px;
  height: auto;
  overflow: hidden;
}
.d-flex {
  display: flex;
}
.gap-1 {
  gap: 1rem;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}
.items-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.mx-auto {
  margin: 0 auto;
}
.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.p-1 {
  padding: 1rem;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.justify-end {
  justify-content: end;
}
.justify-between {
  justify-content: space-between;
}
.posi-relative {
  position: relative;
}
.posi-absolute {
  position: absolute;
}



/* class */
.header-title {
  text-transform: capitalize;
}
.note-create {
  width: 100px;
  text-align: center;
  margin: .5rem auto;
  font-size: .8rem;
}
.note-del {
  width: 100px;
  justify-content: end;
  margin: .5rem auto;
  font-size: .8rem;
}
.notes-area {
  max-width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}
.note-box {
  width: 250px;
  height: 300px;
  text-indent: .5rem;
  border: 1px solid white;
  border-radius: .75rem;
  margin: 1rem;
  overflow: hidden;
}
.note-title {
  border-bottom: 1px solid beige;
  padding: .5rem;
  overflow: hidden;
}
.note-title h3 {
  max-width: 190px;
  max-height: 35px;
  overflow: hidden;
}
.note-body {
  text-indent: .5rem;
  overflow-wrap: break-word;
  padding: .5rem;
}
.edit-title-icon {
  background-color: white;
  width: 30px;
  height: 30px;
  cursor: pointer;
  right: 5%;
}
.edit-body-icon {
  background-color: white;
  width: 30px;
  height: 30px;
  cursor: pointer;
  right: 5%;
  top: 20%;
}



/**/